.f-modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}
.f-modal {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #fff;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: var(--f-shadow-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 12px 15px;
    & > div {
        box-sizing: border-box;
    }
    .closeIcon {
        position: absolute;
        right: 19px;
        top: 14px;
        cursor: pointer;
        color: #666;
    }
    .f-modal-header {
        display: inline-flex;
        align-items: center;
        width: 100%;
        font-size: 18px;
        padding: 0 44px 8px 18px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        border-bottom: 1px var(--f-border-color) solid;
    }
    .f-modal-body {
        flex-grow: 1;
        min-height: 160px;
        width: 100%;
        padding: 15px;
    }
    .f-modal-footer {
        width: 100%;
        padding: 12px 15px;
    }
}
.f-modal-show {
    height: 100%;
}
.f-modal-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.f-modal-mask.isShow {
    display: block;
    z-index: 999;
}
.f-modal__not_close {
    transform: scale(1.03);
    transition: all 0.5s;
}
