/*reset vitepress doc theme*/

:root {
    --vp-home-hero-name-color: #165DFF;
    --vp-button-brand-bg: #165DFF;
    @media (min-width: 960px) {
        .heading .text {
            font-size: 36px !important;
        }
    }
    .clip {
        background: linear-gradient(92.06deg, #33c2ff -17.9%, #257cff 43.39%, #165dff 99.4%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.dark {
}

